@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background: #fbfbfb;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* #region header */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav {
}

.header-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  gap: 40px;
}

.header-nav-item {
}

.header-nav-link {
  display: block;
  padding: 30px 0;
  color: #0c0c0c;
}

.header-social-list {
  display: flex;
  gap: 10px;
}

.header-social-item {
}
.header-social-link {
}
/* #endregion header */
/* #region HERO SECTION */

.hero {
  padding-top: 80px;
  padding-bottom: 50px;
}

.hero-container {
}

.hero-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.88;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 597px;
  margin-bottom: 20px;
}

.hero-title-part {
  color: #3350e9;
}

.hero-descr {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.descr-container {
}

/* #endregion HERO SECTION */
/* #region About Us */

.conteiner.about-us {
  display: flex;
  justify-content: space-between;
}

.about-us-title {
  margin-bottom: 40px;
}

.about-deskr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  padding-bottom: 20px;
  padding-right: 60px;
}

.about-deskription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  padding-bottom: 40px;
  padding-right: 60px;
}

.about-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.about-item {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  width: 580px;
  background: #f3f3f3;
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 40px;
}

.about-button {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border: none;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #3350e9;
}

.about-img {
}
/* #endregion About Us */
/* #region Catalog */
.catalog-title {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  width: calc((100% - 2 * 23px) / 3);
  padding: 24px 32px;
}

.catalog-descr {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 8px;
}

.catalog-prise {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* #endregion Catalog */
/* #region Promo */

.promo {
  background-color: #0c0c0c;
  background-image: url(../images/background-promo.png);
  border-radius: 30px;
  max-width: 1150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 83px 87px 83px 80px;
}

.promo-title {
  color: #fbfbfb;
  max-width: 690px;
}

.promo-title-part {
  color: rgba(251, 251, 251, 0.5);
}

.promo-button {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  cursor: pointer;
}

/* #endregion Promo */
/* #region Sale */
.section {
}
.container {
}
.sale-preview-list {
}
.sale-list {
}
.sale-item {
}
.sale-main-image {
}
.sale-product-info {
}
.sale-header {
}
.sale-title {
}
.sale-tag {
}
.sale-price {
}
.sale-price-current {
}
.sale-price-old {
}
.sale-description {
}
.sale-features {
}
.sale-feature {
}
/* #endregion Sale */
/* #region Reviews */
.section {
}
.container {
}
.reviews {
}
.reviews-list {
}
.reviews-item {
}
.reviews-titel {
}
.reviews-descr {
}
/* #endregion Reviews */
